<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>  
    <li class="nav-item">
      <a class="nav-link active" href="/courses/">Courses</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/course/detail/assignments">Course Assignments</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/accounts/logout">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul>