{% extends 'base.html' %}

{% block content %}
<div class="container">
    <!-- <h2>This is the Incxosii index template</h2> -->
    <!-- <p>It Works!!!  WHOOO HOOOO!</p> -->

    <br>
    <br>
    <h3>Welcome to target practice!</h3>
    <p>You don't get better at a thing if you don't aim and shoot for it every stinkin' day.</p>
    <div class='container'>
        <div class="card" style='width: 40rem;'>
            <div class="card-body">
                <blockquote class="blockquote" id='indexBlock'>
                    <p>Incxosii (Zulu for 'Master') is a unique platform that allows you to master almost anything!
                        By breaking up activies in to small 20 min 'micro' assignments that are delivered via sms, email, or
                        in app notifications,
                        you will become the MASTER of your chosen Target.
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
    <h3>Start your Journey to Mastery Now!</h3>
    <a href='/targets'><button type='button'>Browse Targets</button></a>
</div>
{% endblock %}