{% extends 'base.html' %}

{% block content %}
<div id='target_detail' class="container">
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote">
                <img src={{ object.target_image.url }}> </img>
                <h2>{{ object.target_title }}</h2>
                <p>{{ object.target_description }}</p>
                <p>created: {{ object.target_created_date }}</p>
                <p>created by: {{ object.target_ownerID }}</p>
                <!-- <button>Click to Join!</button> -->
                <a href='/target_assigned_to/send'><button type='button'>Click to Join!</button></a>
            </blockquote>
        </div>
    </div>

    <h2>Related Assignments</h2>
    <div id='target_detail' class="container">

        {% for instance in objects_list %}

        <li>
            <h3><a href="{{ instance.get_absolute_url }}">{{instance.assignment_name}}</h3></a>
            <p>Assignment Description: {{instance.assignment_description}}</p>
        </li>

        {% endfor %}


    </div>

</div>


{% endblock %}