{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>This is the "Target" detail template</h3>
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote">
                <h2>{{ object.target_title }}</h2>
                <p>{{ object.target_description }}</p>
                <p>created: {{ object.target_created_date }}</p>
                <p>created by: {{ object.target_ownerID }}</p>
                <div>
                    <thead>
                        <h2>Related Assignments</h2>
                    </thead>
                    <tr>
                       
                         {% for instance in objects_list %}

                         <li><h3><a href = "{{ instance.get_absolute_url }}">{{instance.assignment_name}}</h3></a>
                             <p>Assignment Description: {{instance.assignment_description}}</p>
                         </li>
                 
                         {% endfor %}



                    </tr>

                </div>

            </blockquote>
        </div>
    </div>

</div>
</div>

{% endblock %}