<!-- This page, while it does NOT extend base.html, causes base.html to render twice when the course detail route/page is served, WHY!!! -->
{% extends 'course_detail.html' %}

{% block content %}


<ul id="assignments">
    {% for instance in object_list %}

    <li>
        <h3><a href="{{ instance.get_absolute_url }}">Assignment Name: {{instance.assignment_name}}</h3></a>
        <p>Assignment Description: {{instance.assignment_description}}</p>
    </li>

{% endfor %}

</ul>


{% endblock %}