{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3>{{ object.related_targetID.target_title }}</h3>
    <p>Assignment Number {{ object.assignment_number }}</p>
    <!-- <h3>This is the "Target Assignment" detail template</h3> -->
    <div class="card">
        <div class="card-body">
            <blockquote class="blockquote">
                <h2>{{ object.assignment_name }}</h2>
                <p>{{ object.assignment_description }}</p>
                <p>assigned by: {{ object.assignment_created_by }}</p>
                <div>
                    <h4>Click Done once you have completed this assignment.  Remember this should take you 20min. or less</h4>
                    <button type='button'>DONE!</button>


                </div>

            </blockquote>
            <a href='/targets/'>Return to Target List</a>
        </div>
    </div>

</div>
</div>

{% endblock %}